@import 'base/variables.css';
@import 'base/typography.css';
@import 'components/cards.css';
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'components/tables.css';
@import 'components/alerts.css';
@import 'components/modals.css';
@import 'components/badges.css';